body {
    font-family: Arial, sans-serif;
    text-align: center;
  }

  header{
    background-image: url('../assets/banner3.webp');
    background-size: cover;
    background-position: center;
    padding: 1px;
  }

  h1 {
    color: #ffffff;
    font-size: 50px;
  }
  
  #pizza-types, #pizza-sizes {
    margin-top: 20px;
  }
  
  #order-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #order-button:hover {
    background-color: #45a049;
  }
  
  .col-md-4 {
    padding-top: 100px;
  }